<div class="complexhtml_xblock_studio">

    <!-- XBlock options -->
    <div class="chx_tab_options">
        <p class="chx_desc">Display Name</p>
        <input type="text" class="chx_display_name" value="{{ self.display_name }}">
        <br/>
        <p class="chx_desc">Record mouse click?</p>
        <input type="checkbox" class="chx_record_click" {% if self.record_click %} checked {% endif %}>
        <p class="chx_desc">Record mouse hovering?</p>
        <input type="checkbox" class="chx_record_hover" {% if self.record_hover %} checked {% endif %}>
        <p class="chx_desc">Student ping interval (ms)</p>
        <input type="text" class="chx_tick_interval" value="{{ self.tick_interval }}">
        <p class="chx_desc">Show development info in LMS?</p>
        <input type="checkbox" class="chx_dev_stuff_studio" {% if self.dev_stuff %} checked {% endif %}>
    </div>

    <!-- Dependencies tab -->
    <div class="chx_tab_dependencies">
        <p class="chx_desc">Dependencies</p>
        <textarea wrap="off" class="chx_dependencies" cols="80" rows="20">{{ self.dependencies }}</textarea>
    </div>

    <!-- HTML editor tab -->
    <div class="chx_tab_html">
        <p class="chx_desc">HTML</p>
        <textarea name="chx_body_html" wrap="off" class="chx_body_html" cols="80" rows="20">{{ self.body_html }}</textarea>
    </div>

    <!-- Tracked elements tab -->
    <div class="chx_tab_tracked">
        <p class="chx_desc">Tracked Elements</p>
        <textarea wrap="off" class="chx_body_tracked" cols="80" rows="20">{{ self.body_tracked }}</textarea>
    </div>

    <!-- JavaScript editor (global) tab -->
    <div class="chx_tab_js_chunk_1">
        <p class="chx_desc">JavaScript Code Running before Slide Load</p>
        <textarea wrap="off" class="chx_body_js_chunk_1" cols="80" rows="20">{{ self.body_js_chunk_1 }}</textarea>
    </div>

    <!-- JavaScript editor (on-load) tab -->
    <div class="chx_tab_js_chunk_2">
        <p class="chx_desc">JavaScript Code Running on Slide Load</p>
        <textarea wrap="off" class="chx_body_js_chunk_2" cols="80" rows="20">{{ self.body_js_chunk_2 }}</textarea>
    </div>

    <!-- JSON settings tab -->
    <div class="chx_tab_json">
        <p class="chx_desc">JSON Settings</p>
        <textarea wrap="off" class="chx_body_json" cols="80" rows="20">{{ self.body_json }}</textarea>
    </div>

    <!-- CSS editor -->
    <div class="chx_tab_css">
        <p class="chx_desc">CSS</p>
        <textarea wrap="off" class="chx_body_css" cols="80" rows="20">{{ self.body_css }}</textarea>
    </div>

    <!-- Preview tab -->
    <div class="chx_tab_preview" hidden>
        <p>Preview tab currently disabled.</p>
        <div class="chx_javascript_error" hidden>
            <p>There is a problem in this XBlock's JavaScript code. Please check your console log.</p>
        </div>
    </div>

</div>