<div class="complexhtml_xblock_studio">

    <!-- XBlock options -->
    <div class="chx_options">
        <p class="chx_desc">Display Name</p>
        <input type="text" class="chx_display_name" value="{{ self.display_name }}">
        <br/>
        <p class="chx_desc">Record mouse clicks?</p>
        <input type="checkbox" class="chx_record_clicks" {% if self.record_clicks %} checked {% endif %}>
        <p class="chx_desc">Record mouse hovering?</p>
        <input type="checkbox" class="chx_record_hover" {% if self.record_hover %} checked {% endif %}>
        <p class="chx_desc">Dependencies</p>
        <textarea wrap="off" class="chx_dependencies" cols="80" rows="20">{{ self.dependencies }}</textarea>

    </div>

    <!-- Preview Pane -->
    <div class="chx_preview"></div>

    <!-- HTML editor and list of tracked elements -->
    <div class="chx_html">
        <p class="chx_desc">HTML</p>
        <textarea name="chx_body_html" wrap="off" class="chx_body_html" cols="80" rows="20">{{ self.body_html }}</textarea>
        <br/>
        <p class="chx_desc">Tracked Elements</p>
        <textarea wrap="off" class="chx_body_tracked" cols="80" rows="10">{{ self.body_tracked }}</textarea>
    </div>

    <!-- JavaScript editor and JSON field -->
    <div class="chx_javascript">
        <p class="chx_desc">JavaScript Code Running before Slide Load</p>
        <textarea wrap="off" class="chx_body_js_chunk_1" cols="80" rows="20">{{ self.body_js_chunk_1 }}</textarea>
        <br/>
        <p class="chx_desc">JavaScript Code Running on Slide Load</p>
        <textarea wrap="off" class="chx_body_js_chunk_2" cols="80" rows="20">{{ self.body_js_chunk_2 }}</textarea>
        <br/>
        <p class="chx_desc">JSON Settings</p>
        <textarea wrap="off" class="chx_body_json" cols="80" rows="20">{{ self.body_json }}</textarea>
    </div>

    <!-- CSS editor -->
    <div class="chx_css">
        <p class="chx_desc">CSS</p>
        <textarea wrap="off" class="chx_body_css" cols="80" rows="20">{{ self.body_css }}</textarea>
    </div>

</div>