form {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: #FFFFFF;
    padding: 15px;
    min-height: 320px;
    margin: auto;
}

.dev_display_name {
    text-align: center;
    width: 100%;
}

.dev_body_html {
    width: 100%;
}

.dev_body_js {
    width: 100%;
}

.dev_body_json {
    width: 100%;
}

.dev_body_css {
    width: 100%;
}