<div class="cdotgrabber_block">

    <div class="studio">

        <h1>CDOTgrabber</h1>

        <div>

            <form class="cdograbber_parameters">

                <p>Header</p><textarea wrap="off" id="header" cols="120" rows="1"></textarea>
                <p>HTML Code</p><textarea wrap="off" id="body_html" cols="120" rows="20"></textarea>
                <p>JavaScript Code</p><textarea wrap="off" id="body_js" cols="120" rows="20"></textarea>
                <p>CSS Code</p><textarea wrap="off" id="body_css" cols="120" rows="20"></textarea>

                <!-- For debugging purposes -->
                <p><input class="btn_submit" type="button" value="Submit & Reload"></p>

            </form>


        </div>

    </div>

</div>