<!-- unlikely to be used in the final version -->
<div class="cdotgrabber_block_dev">

    <hr/>

    <h3 style="color: blue">FOR DEVELOPMENT - Content Data From Database</h3>

    <h4>Header</h4>
    <p>{{self.header}}</p>
    <h4>HTML Code</h4>
    <p>{{self.body_html}}</p>
    <h4>JavaScript Code</h4>
    <p>{{self.body_js}}</p>
    <h4>CSS Code</h4>
    <p>{{self.body_css}}</p>

    <hr/>

    <h3 style="color: blue">FOR DEVELOPMENT - Studio View</h3>

    <form class="cdograbber_parameters">

        <p>Header</p><textarea wrap="off" id="header" cols="80" rows="1"></textarea>
        <p>HTML Code</p><textarea wrap="off" id="body_html" cols="80" rows="20"></textarea>
        <p>JavaScript Code</p><textarea wrap="off" id="body_js" cols="80" rows="20"></textarea>
        <p>CSS Code</p><textarea wrap="off" id="body_css" cols="80" rows="20"></textarea>
        <h3 style="color: red">DO NOT CLICK THIS IN LMS AND CMS. USE ONLY XBLOCK-SDK!</h3>
        <p><input class="btn_submit" type="button" value="Submit & Reload"></p>

    </form>


    <hr/>

    <h3 style="color: blue">FOR DEVELOPMENT - Click on the items below and watch the Python console</h3>

    <!-- just a basic form to test clicks -->
    <form id="testform">
        <input class="btna" type="button" value="btna">
        <input class="btnb" type="button" value="btnb">
        <input class="texta" type="text" value="123">
    </form>

</div>