<div class="cdotgrabber_block">

    <div class="studio">

        <h1>CDOTgrabber</h1>

        <div>

            <form class="cdograbber_parameters">

                <p>Display Name</p><textarea wrap="off" class="cdot_display_name" cols="100" rows="1">{{ self.display_name }}</textarea>
                <p>HTML Code</p><textarea wrap="off" class="cdot_body_html" cols="100" rows="20">{{ self.body_html }}</textarea>
                <p>JavaScript Code</p><textarea wrap="off" class="cdot_body_js" cols="100" rows="20">{{ self.body_js }}</textarea>
                <p>CSS Code</p><textarea wrap="off" class="cdot_body_css" cols="100" rows="20">{{ self.body_css }}</textarea>
                <!-- For debugging purposes -->
                <!--<p><input class="btn_submit" type="button" value="Submit & Reload"></p>-->

            </form>

        </div>

    </div>

</div>