/* CSS for CDOTgrabberXBlock */

.cdotgrabber_block .count {
    font-weight: bold;
}

.cdotgrabber_block p {
    cursor: pointer;
}

.cdograbber_parameters {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: #FFFFFF;
  text-align: center;
  padding: 15px;
  min-height: 320px;
  margin: auto;
}