form {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: #FFFFFF;
    padding: 15px;
    min-height: 320px;
    margin: auto;
}

.chx_options {
    text-align: center;
}

.chx_display_name {
    width: 80%;
}

.chx_body_html {
    width: 100%;
}

.chx_body_js {
    width: 100%;
}

.chx_body_json {
    width: 100%;
}

.chx_body_css {
    width: 100%;
}