<div class="cdotgrabber_block">

    <div class="studio">

        <div>

            <form class="cdograbber_parameters">

                <p>Display Name</p><input type="text" class="cdot_display_name" value="{{ self.display_name }}"><br/><br/>
                <p>HTML Code/URL</p><textarea wrap="off" name="cdot_body_html" class="cdot_body_html" rows="20">{{ self.body_html }}</textarea><br/><br/>
                <p>JavaScript Code/URL</p><textarea wrap="off" name="cdot_body_js" class="cdot_body_js" rows="20">{{ self.body_js }}</textarea><br/><br/>
                <p>JSON Code/URL</p><textarea wrap="off" name="cdot_body_json" class="cdot_body_json" rows="20">{{ self.body_json }}</textarea><br/><br/>
                <p>CSS Code/URL</p><textarea wrap="off" name="cdot_body_css" class="cdot_body_css" rows="20">{{ self.body_css }}</textarea><br/><br/>
                <!-- For debugging purposes -->
                <!--<p><input class="btn_submit" type="button" value="Submit & Reload"></p>-->

            </form>

        </div>

    </div>

</div>