<hr/>

<input type="button" class="btn_cdot_toggle_visibility" value="Show Developer Data">

<div class="cdot_slides_for_edx_block_dev"> <!-- hidden> -->

    <h3 style="color: blue">FOR DEVELOPMENT - Content Data From Database</h3>

    <h4>Display Name</h4>
    <p>{{self.display_name}}</p>
    <h4>HTML Code</h4>
    <p>{{self.body_html}}</p>
    <h4>JavaScript Code</h4>
    <p>{{self.body_js}}</p>
    <h4>JSON Code</h4>
    <p>{{self.body_json}}</p>
    <h4>CSS Code</h4>
    <p>{{self.body_css}}</p>

    <hr/>

    <h3 style="color: blue">FOR DEVELOPMENT - Studio View</h3>

    <form class="cdo_slides_for_edx_parameters">

        <p>Display Name</p><input type="text" class="dev_display_name" cols="80" rows="1" value="{{ self.display_name }}"><br/><br/>
        <p>HTML Code/URL</p><textarea name="dev_body_html" wrap="off" id="dev_body_html" class="dev_body_html" cols="80" rows="20">{{ self.body_html }}</textarea><br/><br/>
        <p>JavaScript Code/URL</p><textarea name="dev_body_js" wrap="off" class="dev_body_js" cols="80" rows="20">{{ self.body_js }}</textarea><br/><br/>
        <p>JSON Code/URL</p><textarea name="dev_body_json" wrap="off" class="dev_body_json" cols="80" rows="20">{{ self.body_json }}</textarea><br/><br/>
        <p>CSS Code/URL</p><textarea name="dev_body_css" wrap="off" class="dev_body_css" cols="80" rows="20">{{ self.body_css }}</textarea><br/><br/>
        <h3 style="color: red">DO NOT CLICK THIS IN LMS AND CMS. USE ONLY IN THE XBLOCK-SDK!</h3>
        <p><input class="btn_submit" type="button" value="Submit & Reload"></p>

    </form>

    <hr/>

    <h3 style="color: blue">FOR DEVELOPMENT - Click on the items below and watch the Python console</h3>

    <!-- just a basic form to test clicks -->
    <form id="testform">
        <input id="x" class="btna" type="button" value="btna">
        <input class="btnb" type="button" value="btnb">
        <input class="texta" type="text" value="123">
    </form>

</div>